.task-button {
  margin: 3px;

  border-radius: 6px;
  border: 1px solid transparent;

  transition-duration: 150ms;
}

.task-button-focused {
  border: 1px solid st-transparentize(-st-accent-color, 20%);
}

.task-demands-attention {
  box-shadow: 0 0 0 st-transparentize(-st-accent-color, 50%);
}