.task-button {
  margin: 0px;
  border-radius: 6px;

  transition-duration: 150ms;
}

.task-button-focused {
  background-color: st-transparentize(-st-accent-color, 60%);
}

.task-demands-attention {
  background-color: rgba(233, 84, 32, 1);
}